<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.badlogic.gdx.tests.android"
	android:versionCode="1"
	android:versionName="1.0"
	android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="29" />
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="com.android.vending.BILLING" />
	<uses-feature android:name="android.software.live_wallpaper" />
		
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:allowBackup="false"
		tools:ignore="GoogleAppIndexingWarning">
		<activity android:name=".AndroidTestStarter" android:label="@string/app_name"
			android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="tv.ouya.intent.category.GAME"/>
			</intent-filter>
		</activity>
		
		<activity android:name=".FragmentTestStarter"
				  android:label="@string/app_name_fragments"
				  android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout"
				  android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".GdxTestActivity" 
				  android:label="Gdx Test"
				  android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout"
				  android:screenOrientation="landscape"/>

		<activity android:name=".LivewallpaperSettings" 
				  android:label="Livewallpaper Settings">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		
        <activity android:name=".DaydreamSettings"
                  android:label="Daydream Settings">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
        </activity>
		
		<service android:name=".LiveWallpaper"
            android:label="@string/app_name"
            android:icon="@drawable/icon"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper" />

        </service>	
        
		<service android:name=".Daydream"
		     android:label="@string/app_name"
		     android:icon="@drawable/icon"
		     android:exported="true"
			android:permission="com.badlogic.gdx.tests.TestPermission">
		     <intent-filter>
		         <action android:name="android.service.dreams.DreamService" />
		         <category android:name="android.intent.category.DEFAULT" />
		     </intent-filter>
		     <meta-data android:name="android.service.dream"
		         android:resource="@xml/daydream" />
		</service>
	</application>
</manifest> 
