# Temporary Files
*~
.*.swp
.DS_STORE
desktop.ini
robovm-build/
project.xcworkspace/
xcuserdata/
xcode/native/
.gradle/
build/
bin/
target/
obj/
out/
classes/
.gwt/
gwt-unitCache/
war/
gen/
gen-external-apklibs/
armeabi-v7a/
arm64-v8a/
linux32/
linux64/
windows32/
windows64/
macosx32/
ios32/
Debug/
Release/
x64/
x86/
x86_64/
ipch/
/dist

*.a
*.a.tvos
*.dll
*.dll.mdb
*.userprefs
*.sdf
*.class
hs_err_pid*
Thumbs.db

libgdx-*.zip
libgdx-*.zip.MD5
/android-ndk-*

*.iml
/.idea/

#core & extension libs/ folders that have no 3rd party dependencies in them
/gdx/libs
/backends/gdx-backend-jglfw/libs/
/backends/gdx-backend-robovm/libs/
/extensions/gdx-audio/libs/
/extensions/gdx-box2d/gdx-box2d/libs/
/extensions/gdx-bullet/libs/
/extensions/gdx-freetype/libs/
/extensions/gdx-image/libs/
/extensions/gdx-lwjgl3-angle/res
/extensions/gdx-lwjgl3-glfw-awt-macos/res/
/extensions/gdx-setup/gdx-setup.jar
/extensions/gdx-setup/test/

#the LWJGL3 libs are pulled via fetch.xml
/backends/gdx-backend-lwjgl3/libs/lwjgl*.jar
/backends/gdx-backend-robovm-metalangle/res/META-INF/robovm/ios/libs

#ensure gdx-setup.jar works properly
!/extensions/gdx-setup/src/com/badlogic/gdx/setup/resources/gwt/war

#assets generated in tests
tests/gdx-tests-android/assets/bitmapWrittenFont.fnt
tests/gdx-tests-android/assets/bitmapWrittenFont.png

#directories created by fetch.xml
/tests/gdx-tests-android/libs
/tmp/

#gradle wrapper
/local.properties
natives.zip

#Eclipse metadata
.metadata
.classpath
.project
.settings
