# Temporary Files
*~
.*.swp
.DS_STORE

bin/
target/
obj/
.gwt/
gwt-unitCache/
war/
gen/
armeabi/
armeabi-v7a/
linux32/
linux64/
windows32/
windows64/
macosx32/
ios32/
Debug/
Release/
x64/
x86/
ipch/
/dist

*.a
*.dll
*.dll.mdb
*.userprefs
*.sdf
*.class

libgdx-*.zip

*.iml
/.idea/

#core & extension libs/ folders that have no 3rd party dependencies in them
/gdx/libs
/backends/gdx-backend-jglfw/libs/
/backends/gdx-backend-robovm/libs/
/extensions/gdx-audio/libs/
/extensions/gdx-bullet/libs/
/extensions/gdx-controllers/gdx-controllers-desktop/libs/
/extensions/gdx-freetype/libs/
/extensions/gdx-image/libs/
