# Temporary Files
*~
.*.swp
.DS_STORE

.gradle/
build/
bin/
target/
obj/
out/
classes/
.gwt/
gwt-unitCache/
war/
gen/
gen-external-apklibs/
armeabi/
armeabi-v7a/
linux32/
linux64/
windows32/
windows64/
macosx32/
ios32/
Debug/
Release/
x64/
x86/
ipch/
/dist

*.a
*.dll
*.dll.mdb
*.userprefs
*.sdf
*.class

libgdx-*.zip
libgdx-*.zip.MD5

*.iml
/.idea/

#core & extension libs/ folders that have no 3rd party dependencies in them
/gdx/libs
/backends/gdx-backend-jglfw/libs/
/backends/gdx-backend-robovm/libs/
/extensions/gdx-audio/libs/
/extensions/gdx-box2d/gdx-box2d/libs/
/extensions/gdx-bullet/libs/
/extensions/gdx-controllers/gdx-controllers-desktop/libs/
/extensions/gdx-freetype/libs/
/extensions/gdx-image/libs/
/extensions/gdx-setup/gdx-setup.jar

#ensure gdx-setup.jar works properly
!/extensions/gdx-setup/src/com/badlogic/gdx/setup/resources/gwt/war

#directories created by fetch.xml
/tests/gdx-tests-android/libs
/tmp/
