<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.badlogic.gdx.twl"
      android:versionCode="1"
      android:versionName="1.0">
<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true">

		<activity android:name=".TwlTestActivity" android:label="TWL Test">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".ButtonTestAndroid" android:label="TWL Button Test"></activity>
		<activity android:name=".TextAreaTestAndroid" android:label="TWL Text Area Test"></activity>
		<activity android:name=".NodeTestAndroid" android:label="TWL Node Test"></activity>
		
	</application>
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="5"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest> 
