#include "custom.xcconfig"

XRT_APPLICATION_OAT = -sectcreate __OATDATA __oatdata "${SRCROOT}/../build/art/${arch}/application.oat"
XRT_APPLICATION_ART = -sectcreate __ARTDATA __artdata "${SRCROOT}/../build/art/${arch}/image.art"
XRT_APPLICATION_PROTECTION_FLAGS[sdk=iphoneos*] = -segprot __OATDATA rx rx -segprot __ARTDATA rw rw
XRT_APPLICATION_PROTECTION_FLAGS[sdk=iphonesimulator*] = -segprot __OATDATA rwx rx -segprot __ARTDATA rwx rw -pagezero_size 1000
XRT_APPLICATION_PROTECTION_FLAGS[sdk=macosx*] = -segprot __OATDATA rwx rx -segprot __ARTDATA rw rw
XRT_ART_FLAGS = ${XRT_APPLICATION_OAT} ${XRT_APPLICATION_ART} ${XRT_APPLICATION_PROTECTION_FLAGS}
XRT_OTHER_LDFLAGS = ${XRT_ART_FLAGS} -lstdc++
XRT_FRAMEWORK_PATH[sdk=iphonesimulator*] = ${INTEL_MULTI_OS_ENGINE_HOME}/sdk/iphonesimulator
XRT_FRAMEWORK_PATH[sdk=iphoneos*] = ${INTEL_MULTI_OS_ENGINE_HOME}/sdk/iphoneos
