/*******************************************************************************
 * General
 ******************************************************************************/

.rootPanel {
	-ar-fill: texture(url("/res/gfx/bg.png"));
}

javax-swing-JScrollPane {
	-swing-border: null;
}

javax-swing-JButton {
	-swing-opaque: false;
	-swing-horizontalalignment: left;
	-swing-margin: 2 5;
}

javax-swing-JToolBar javax-swing-JButton {
	-swing-horizontalalignment: left;
	-swing-margin: 2 1;
}

javax-swing-JToolBar,
javax-swing-JButton,
javax-swing-JCheckBox,
javax-swing-JSlider{
	-swing-opaque: false;
}

/*******************************************************************************
 * Groups
 ******************************************************************************/

.titledPanel {
	-swing-background: #FFF;
	-swing-border: arui-groupborder(noarg);
	-ar-border-stroke: null;
	-ar-border-thickness: 0;
	-ar-border-header-stroke: null;
	-ar-border-header-thickness: 0;
	-ar-border-header-fill: lineargradient(0, 0, 0, 1, 0, #4D6082, 1, #3D5277);
	-ar-border-margin: 3 6;
	-ar-border-foreground: #FFF;
}

#projectPanel {
	-ar-border-title: "Project Configuration";
}

#settingsPanel {
	-ar-border-title: "Pack Settings";
}

#renderPanel {
	-ar-border-title: "View (rendered by libgdx)";
}

/*******************************************************************************
 * Misc
 ******************************************************************************/

.centerText {
	-swing-horizontalalignment: center;
}