<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.badlogic.gdx.pay.android.ouya">   
          
  <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19"/>
  
	<!--for OUYA billing-->
	<uses-permission android:name="android.permission.INTERNET"/>

	<!-- add: intent-filter: category android:name="tv.ouya.....
    <application
        <activity
            <intent-filter>
                <category android:name="tv.ouya.intent.category.GAME"/>
            </intent-filter>
        </activity>
    </application>
    -->
</manifest> 
