/*******************************************************************************
 * General
 ******************************************************************************/

javax-swing-JButton {
	-swing-horizontalalignment: left;
	-swing-verticalalignment: center;
	-swing-margin: 2 3;
	-swing-opaque: false;
}

javax-swing-JScrollPane {
	-swing-border: null;
}

javax-swing-JCheckBox {
	-swing-opaque: false;
}

/*******************************************************************************
 * Groups
 ******************************************************************************/

.groupPanel {
	-swing-background: #FAFAFA;
	-swing-border: arui-groupborder(noarg);
	-arui-border-stroke: null;
	-arui-border-thickness: 0;
	-arui-border-header-stroke: null;
	-arui-border-header-thickness: 0;
	-arui-border-header-fill: lineargradient(0, 0, 0, 1, 0, #4D6082, 1, #3D5277);
	-arui-border-margin: 3 6;
	-arui-border-foreground: #FFF;
	-arui-border-font: Sans bold 14;
}

#configPanel {
	-arui-border-title: "Configuration";
}

#librarySetupPanel {
	-arui-border-title: "Library selection";
}

#resultPanel {
	-arui-border-title: "Overview";
}

#goPanel {
	-arui-border-title: "Generation";
}

/*******************************************************************************
 * Root panels
 ******************************************************************************/

.rootPanel {
	-arui-fill: texture(url("/res/gfx/bg.png"));
}

.rootPanel > javax-swing-JLabel {
	-swing-foreground: #FFF;
}

/*******************************************************************************
 * Headers
 ******************************************************************************/

.header {
	-swing-background: #BBC8D8;
}

.header javax-swing-JLabel {
	-swing-font-size: 10;
	-swing-border: emptyborder(2, 5, 2, 5);
	-swing-foreground: #3D5277;
}

.headerNumber {
	-swing-font-size: 26;
	-swing-border: emptyborder(0, 5, 0, 0);
	-swing-foreground: #3D5277;
}

/*******************************************************************************
 * Fake panels
 ******************************************************************************/

.optionGroupPanel {
	-arui-fill: #3FFF;
	-swing-opaque: false;
}

.optionGroupPanel > javax-swing-JLabel {
	-swing-foreground: #FFF;
}

/*******************************************************************************
 * Dialogs
 ******************************************************************************/

.titleLabel {
	-swing-font: Arial bold 20;
	-swing-border: matteborder(0, 0, 1, 0, #FFF);
}

.questionLabel:hover {
	-swing-foreground: #88F;
}

/*******************************************************************************
 * Links
 ******************************************************************************/

.linkLabel {
	-swing-foreground: #008;
}

.linkLabel:hover {
	-swing-foreground: #55F;
}

/*******************************************************************************
 * LibSetup panel
 ******************************************************************************/

.sectionLabel {
	-swing-border: matteborder(0, 0, 1, 0, #888);
	-swing-font: Sans plain 14;
	-swing-foreground: #888;
}

.legendPanel {
	-swing-background: #BBC8D8;
}

.legendPanel javax-swing-JLabel {
	-swing-font-size: 10;
	-swing-foreground: #3D5277;
}

/*******************************************************************************
 * LibInfo dialog
 ******************************************************************************/

.libInfoDescLabel {
	-swing-font-size: 14;
}

.libInfoHomepageLabel {
	-swing-foreground: #AAA;
}

.libInfoHomepageLabel:hover {
	-swing-foreground: #FFF;
}

/*******************************************************************************
 * Go dialog
 ******************************************************************************/

.progressArea {
	-swing-margin: 5 10;
	-swing-font-size: 11;
}

/*******************************************************************************
 * Misc
 ******************************************************************************/

.versionLabel {
	-swing-foreground: #FFF;
	-swing-font-style: bold;
}

.versionLabel:hover {
	-swing-foreground: #88F;
}

.helpNumber {
	-swing-font-size: 30;
}