<project name="android-natives" basedir="." default="compile-natives">
	<property environment="env" />

	<target name="clean">
		<exec executable="${env.NDK_HOME}/ndk-build">
			<arg value="clean"/>
		</exec>
	</target>

	<target name="compile-natives">
		<echo>ndk_home: ${env.NDK_HOME}</echo>
		<exec executable="${env.NDK_HOME}/ndk-build"/>
	</target>
</project>
