LIBGDX_NATIVES =  -force_load ${SRCROOT}/native/ios/libgdx.a -force_load ${SRCROOT}/native/ios/libgdx.a.tvos -force_load ${SRCROOT}/native/ios/libObjectAL.a -force_load ${SRCROOT}/native/ios/libObjectAL.a.tvos -force_load ${SRCROOT}/native/ios/libgdx-box2d.a -force_load ${SRCROOT}/native/ios/libgdx-box2d.a.tvos -force_load ${SRCROOT}/native/ios/libgdx-bullet.a -force_load ${SRCROOT}/native/ios/libgdx-bullet.a.tvos -force_load ${SRCROOT}/native/ios/libgdx-freetype.a -force_load ${SRCROOT}/native/ios/libgdx-freetype.a.tvos