name: Build pull request

on:
  pull_request:
    branches: [ master ]
permissions: 
  contents: read

jobs:
  build-java:
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: 'recursive'

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Check MetalANGLE generation
        run: |
          ./gradlew :backends:gdx-backend-robovm-metalangle:generate
          ./gradlew :backends:gdx-backend-robovm-metalangle:spotlessApply
          if [[ `git status --porcelain` ]]; then echo "::error The MetalANGLE backend is missing changes, please run \`./gradlew :backends:gdx-backend-robovm-metalangle:generate\`"; exit 1; fi

      - name: Build & test Java code
        run: |
          ./gradlew fetchNatives
          ./gradlew build
